<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
    <title>Project-聊天室</title>
</head>

<body>
<div id="wrapper">

    <!-- Header -->

    <section class="chat">



        <section id="chatroom">
            <section id="feedback"></section>
        </section>



        <section id="input_zone">
            <input id="message" class="vertical-align" type="text" />

            <button id="send_message" class="vertical-align" type="button">Send</button>


        </section>

        <section id="input_zone1">

        </section>
        <form method="post" action=""+location.pathname   enctype="multipart/form-data">
            <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
            <br>   <input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="上傳圖片">
        </form>


        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            //$( document ).ready(function() {
            //    upload();
           // });
            console.log(location.pathname);
            $(function(){
                //make connection


                var socket = io.connect('http://localhost:4000')

                socket.emit("channelfixer",location.href)


                //buttons and inputs
                var message = $("#message")
                var username =$("#username")
                var send_message = $("#send_message")
                var send_username = $("#send_username")
                var chatroom = $("#chatroom")
                var feedback = $("#feedback")




                //Emit message
                send_message.click(function(){
                    socket.emit('new_message', {message : message.val(),room:location.href})
                })

                //addimage
                socket.on('user image', image);
                    function image (from, base64Image) {
                        $('#input_zone').append($('<p>').append($('<b>').text(from),
                            '<img src="' + base64Image + '"/>'));
                    }
                $(function(){
                    $("#imagefile").on('change',function(e){
                        var file = e.originalEvent.target.files[0];
                        reader = new FileReader();
                        reader.onload = function(evt){
                            socket.emit('user image', evt.target.result);
                        };
                        reader.readAsDataURL(file);
                    })
                });


                //Listen on new_message
                socket.on("new_message", function(data) {


                    feedback.html('');
                    message.val('');
                    displayMsg(data);
                });

                function displayMsg(data){
                    document.getElementById("chatroom").innerHTML=data;
                    //chatroom.innerHTML("<p class='message'>" + data.username + ": " + data.message + "</p>")
                }



                socket.on('load old msgs', function(docs){
                    var text="";
                    for(var i = docs.length-1 ; i >= 0 ; i--){
                        if(docs[i].message.toString().includes("upload") ){
                            text=text+"<span>"+docs[i].username+":</span><img src ='/"+docs[i].message+"'height='50%' width='50%'></br>"
                        }else {

                            //if(docs{i}.message)
                            text = text + "<p class='message'>" + docs[i].username + ": " + docs[i].message + "</p>";
                        }
                    }
                    displayMsg(text);
                })

                //Emit a username
                $(function(){
                    socket.emit('change_username', {username:"<%=current_member.nickname%>"})
                })

                //Emit typing
                message.bind("keypress", function()  {
                    socket.emit('typing')
                })

                //Listen on typing
                socket.on('typing', function(data)  {
                    feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
                })
            });
        </script>

    </section>
</div>
</body>
</html>
