<!DOCTYPE HTML>

<html>
<head>
    <title>Project-首頁</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>

<body>


<!-- Wrapper -->
    <!-- Header -->
    <% include ./header %>
    <!-- Header End -->
<link rel="manifest" href="/manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
            appId: "7cabef72-35e9-487b-af55-b0380c2bb21c",
            autoRegister: false,
            notifyButton: {
                enable: true,
            },
        });
    });
</script>


<div id="wrapper">
    <div class="notification">
        <% if (locals.t_success!=null) { %>
        <div class="suc_not">
            <i class="fa fa-check-circle" aria-hidden="true">&nbsp;&nbsp;
                <strong>任務發布成功，可至歷史任務或任務列表頁面查看。</strong>
                <META http-equiv="refresh" content="1;URL=/home">
            </i>

        </div>
        <script>
            $("#suc_not").hide(1000);
        </script>

        <% }%>
    </div>


    <!-- Main -->
    <div id="main">
        <div style="margin-top:8%; margin-bottom: 0%">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                    <span class="image">
                        <img src="images/pic01.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="/new-task" class="link">發布任務</a></h3>
                    <p>As A User</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="/all-task" class="link">接受任務</a></h3>
                    <p>As A Tasker</p>
                </header>
            </article>
        </section>
        </div>
    </div>



</div>



</body>
</html>