<!DOCTYPE HTML>

<html>
<head>

	<title>Project-登入</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<a href="index.html" class="logo"><strong>project</strong> <span>LOGO</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="landing.html">Landing</a></li>
			<li><a href="generic.html">Generic</a></li>
			<li><a href="elements.html">Elements</a></li>
		</ul>
		<ul class="actions vertical">
			<li><a href="#" class="button special fit">Get Started</a></li>
			<li><a href="#" class="button fit">Log In</a></li>
		</ul>
	</nav>

	<section  class="major">
		<table class="banner_tb">
			<tr>
				<td width="57%">
					<div class="inner">
						<header class="major">
							<h1>Hi, 想要接單嗎？</h1>
						</header>
						<div class="content">
							<p>只要註冊成為會員就可以立即發布任務或是接取任務喔<br />
								blablablablablablablabalbalbalab.</p>
							<ul class="actions">
								<li><a href="/register" class="button">成為會員</a></li>
							</ul>
						</div>
					</div>
				</td>
				<td width="43%">
					<div class="content" id="login_form">
						<div class="inner">
							<header class="major">
								<h2>登入</h2>
							</header>
							<form id="login" action="/" method="post">
								<p>帳號：</p>
								<input type="email" id="email" name="email" placeholder="請輸入電子郵件">
								<p>密碼：</p>
								<input type="password" id="password" name="password" placeholder="請輸入密碼">
                                <% if (s_error!=null) { %>
									<div class="err_not">
										<i class="fa fa-exclamation-circle" aria-hidden="true">&nbsp;&nbsp;
											<strong>帳號或密碼輸入錯誤</strong>
										</i>
									</div>
                                <% }%>

								<a>忘記密碼<a>
										<br>
										<input type="submit" class="submit">
							</form>

						</div>
					</div>
				</td>
			</tr>
		</table>
	</section>



	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>

		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>


</html>




</body>
</html>