<!DOCTYPE HTML>

<html>
<head>

	<title>Project-登入</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<a href="/" class="logo"><strong>資管</strong> <span>專案</span></a>

            <% if (locals.current_member) { %>
			<META http-equiv="refresh" content="1;URL=/home">
            <% }%>

	</header>


	<!-- Menu -->

	</div>
<!-- Sidebar -->

	<section  class="major">
		<table class="banner_tb">
			<tr>
				<td  class="login-td-one">
					<div class="inner">
						<header class="major">
							<h1>Hi, 想要接單嗎？</h1>
						</header>

							<p>只要註冊成為會員就可以立即發布任務或是接取任務喔<br>
								</p>

						</div>

				</td>
				<td  class="login-td-two">
					<div class="content" id="login_form">
						<div class="inner">

								<h1>登入</h1>

							<form id="login" action="/" method="post">
								<p>帳號：</p>
								<input type="email" id="email" name="email" placeholder="請輸入電子郵件">
								<p>密碼：</p>
								<input type="password" id="password" name="password" placeholder="請輸入密碼">
                                <% if (s_error!=null) { %>
									<div class="err_not">
										<i class="fa fa-exclamation-circle" aria-hidden="true">&nbsp;&nbsp;
											<strong>帳號或密碼輸入錯誤</strong>
										</i>
									</div>
                                <% }%>

								<a>忘記密碼</a>
										<br>
										<ul class="actions">
											<li style='height:56px;'><input type="submit" class="submit" id="submit" value="登入"></li>&nbsp;&nbsp;
											<li style='height:56px;'><a href="/register" class="button" >成為會員</a></li>
										</ul>

							</form>

						</div>
					</div>
				</td>
			</tr>
		</table>
	</section>



	<!-- Footer -->


</div>








</body>
</html>