<!DOCTYPE HTML>

<html>
<head>
    <title>Project-發布任務</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <head>
        <title>Project-任務列表</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <!--[if lte IE 8]>
        <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/assets/css/main.css"/>
        <link rel="stylesheet" href="/markdownit/webuploader/webuploader.css"/>
        <link rel="stylesheet" href="/markdownit/editor/editor.css"/>
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
    </head>


    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/markdownit/webuploader/webuploader.css">
    <link rel='stylesheet' href='/markdownit/editor/editor.css'/>
    <script src='/markdownit/markdownit.js'></script>
    <script src='/markdownit/webuploader/webuploader.withoutimage.js'></script>
    <script src='/markdownit/editor/editor.js'></script>
    <script src='/markdownit/editor/ext.js'></script>
</head>
<body>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->

    <% include ./header %>

    <script>



    </script>
    <!-- Main -->

    <section class="new_task">
        <div>

            <h2 align="center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;發布任務</h2>
            <hr class="style-one" />
            <form action="/new-task" method="post" >

                <table  border="1" class="new-task-table">
                    <tbody>


                    <tr>
                        <td class="new-task-td-left">任務名稱：<input name="title" type="text" id="title" ></td>
                        <td>任務類別：<select id="category" name="category">
                                <option value="代購">代購</option>
                                <option value="遞送貨物">遞送貨物</option>
                                <option value="交通運輸">交通運輸</option>
                                <option value="其他">其他</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="new-task-td-left">等級限制：<select id="limited＿level" name="limited_level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>

                            </select>

                        </td>
                        <td>佣金：NT$ <input name="reward" type="number" id="reward" >

                        </td>
                        <tr>
                        <td>
                            到期時間：日期
                            <input id="due_date" type="date" name="due_date" placeholder=" "/></td>
                        <td>時間
                            <input id="due_time" type="time" name="due_time"></td>
                    </tr>
                    <tr>
                        <td colspan='2'>任務內容：<textarea  id="content" name="content" class="text" cols="40" rows ="20"></textarea>
                        <td><input type="hidden"  id="status"  name="status" value="available"></td>
                        <td><input type="hidden"  id="pmID"  name="pmID" value="<%= current_member._id %>"></td>
                    </tr>
                    </tbody>
                </table>


                <div class="editor-buttons">
                    <input align="right" type="submit" class="span-primary submit_btn" value="提交">
                </div>


            </form>

        </div>
    </section>
    <!--
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    -->




</div>
<link rel="stylesheet" href="/markdownit/webuploader/webuploader.css">
<link rel='stylesheet' href='/markdownit/editor/editor.css'/>
<script src='/markdownit/markdownit.js'></script>
<script src='/markdownit/webuploader/webuploader.withoutimage.js'></script>
<script src='/markdownit/editor/editor.js'></script>
<script src='/markdownit/editor/ext.js'></script>


<!--編輯器實作-->
<script>
    $(function () {
        var editor = new Editor();
        editor.render($('.editor')[0]);
    })


</script>




</body>
</html>

