<!DOCTYPE HTML>

<html>
<head>
    <title>Project-發布任務</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <!--[if lte IE 8]>
        <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/assets/css/main.css"/>
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
        <!--日期時間選擇器css-->
        <link rel="stylesheet" type="text/css" href="/assets/css/jquery.datetimepicker.min.css"/ >

</head>
<body>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->

    <% include ./header %>
    <!-- 日期時間選擇器（disable past time） start-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        var dateToday = new Date();
        var timeToday=dateToday.getTime();
        $(document).ready(function(){
            $( "#due_date" ).datetimepicker({
                minDate: dateToday,
                step:15
            });

        } );
        <!-- 日期時間選擇器（disable past time） end-->


    </script>
    <!-- flora editor start-->
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <!-- CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <!-- Editor style. -->
    <link href="/assets/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!--JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <!-- Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
    <script>
        $(function() {
            $('textarea#content').froalaEditor({
                heightMin: 200
            })
        });
    </script>
    <!-- flora editor end-->
    <!--image upload setting: https://www.froala.com/wysiwyg-editor/docs/server/nodejs/image-upload -->


    <section class="new_task">
        <div>

            <h2 align="center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;發布任務</h2>
            <hr class="style-one" />
            <form action="/new-task" method="post" >

                <table  border="1" class="new-task-table">
                    <tbody>


                    <tr>
                        <td class="new-task-td-left">任務名稱：<input name="title" type="text" id="title" ></td>
                        <td>任務類別：<select id="category" name="category">
                                <option value="代購">代購</option>
                                <option value="遞送貨物">遞送貨物</option>
                                <option value="交通運輸">交通運輸</option>
                                <option value="其他">其他</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="new-task-td-left">等級限制：<select id="limited＿level" name="limited_level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>

                            </select>

                        </td>
                        <td>佣金：NT$ <input name="reward" type="number" id="reward" min="0">

                        </td>
                        <tr>
                        <td>
                            到期時間：日期
                            <input id="due_date" type="text" name="due_date" placeholder=" " /></td>
                        <!--<td>時間
                            <input id="due_time" type="time" name="due_time"></td>-->
                    </tr>
                    <tr>
                        <td colspan='2'>任務內容：<textarea id="content" name="content" cols="16"></textarea>
                        <td><input type="hidden"  id="pmID"  name="pmID" value="<%= current_member._id %>"></td>
                    </tr>
                    <td colspan='2' align="center"><input align="center" type="submit" value="提交"></td>
                    <tr>

                    </tr>

                    </tbody>

                </table>




             </form>

         </div>
     </section>





</div>



</body>
</html>

