<!DOCTYPE HTML>

<html>
<head>
	<title>Project-註冊</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<a href="index.html" class="logo"><strong>project</strong> <span>LOGO</span></a>
		<nav>
            <% if (locals.current_member) { %>
			<META http-equiv="refresh" content="1;URL=/home">
            <% }%>
		</nav>
	</header>

	<!-- Menu -->


	<!-- Main -->
	<section class="register">
		<h2 align="center">成為會員</h2>
		<!-- Notification -->
		<div class="notification">
        <% if (locals.r_success!=null) { %>
			<div class="suc_not">
				<i class="fa fa-check-circle" aria-hidden="true">&nbsp;&nbsp;
					<strong>註冊成功：將導回登入頁，請重新登入</strong>
				</i>
			<META http-equiv="refresh" content="3;URL=/">
			</div>
        <% }
		else if(locals.r_error!=null){ %>
			<div class="err_not">
				<i class="fa fa-exclamation-circle" aria-hidden="true">&nbsp;&nbsp;
					<strong>錯誤訊息： 電子郵件已被佔用</strong>
				</i>
			</div>
        <% }else{
			%>
        <% }%>
		</div>

		<!-- Notification End -->

		<!-- Register Form -->

		<form action="/register" id="memberForm" method="post">
			<table class="memberForm">
				<tr>
					<td colspan="3">電子郵件：<input data-th="電子郵件：" type="email" id="email" name="email" required title="電子郵件："></td>
				</tr>
				<tr>
					<td  width="50%">密碼：<input data-th="密碼：" type="password" id="password" name="password" required title="密碼："></td>
					<td  width="50%">確認密碼：<input data-th="確認密碼：" type="password" id="recheck" name="recheck" required title="確認密碼："></td>

				</tr>
				<tr>
					<td  >姓名：<input data-th="姓名：" type="text" id="name" name="name"  placeholder=""  required></td>
					<td  >暱稱：<input data-th="暱稱：" type="text" id="nickname" name="nickname"  placeholder="" required></td>

				</tr>
				<tr><td >主修：<select data-th="主修：" id="major" name="major" required title="主修：">
							　	<option value="mis">資訊管理學系</option>
							　	<option value="communication">傳播學系</option>
						</select></td>
					<td >性別：<select data-th="性別：" id="gender" name="gender" required title="性別：">
							　	<option value="男">男</option>
							　	<option value="女">女</option>
								<option value="其他">其他</option>
						</select></td>



				</tr>
				<tr>
					<td >生日：<input data-th="生日：" type="date" id="bDate" name="bDate"  placeholder="" required></td>
					<td>手機：<input data-th="手機：" type="text" id="cell" name="cell"  placeholder="" required  maxlength="10"></td>
				</tr>


			<tr>
				<td colspan="3" align="center"><input type="submit" id="rSubmit" name="rSubmit" class="rSubmit" ></td>
			</tr>
			</table>

		</form>



	</section>
	<!-- Register Form End -->


</div>
<!-- Main End -->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>