<!DOCTYPE HTML>

<html>
<head>
	<title>Project-註冊</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/alertify.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<a href="index.html" class="logo"><strong>project</strong> <span>LOGO</span></a>
		<nav>
			<a href="#menu"></a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">

		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="landing.html">Landing</a></li>
			<li><a href="generic.html">Generic</a></li>
			<li><a href="elements.html">Elements</a></li>
		</ul>
		<ul class="actions vertical">
			<li><a href="#" class="button special fit">Get Started</a></li>
			<li><a href="#" class="button fit">Log In</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<section class="register">
		<!-- Notification -->
		<div class="notification">
        <% if (locals.r_success!=null) { %>
			<div class="suc_not">
				<i class="fa fa-check-circle" aria-hidden="true">&nbsp;&nbsp;
					<strong>註冊成功：將導回登入頁，請重新登入</strong>
				</i>
			<META http-equiv="refresh" content="3;URL=/">
			</div>
        <% }
		else if(locals.r_error!=null){ %>
			<div class="err_not">
				<i class="fa fa-exclamation-circle" aria-hidden="true">&nbsp;&nbsp;
					<strong>錯誤訊息： 電子郵件已被佔用</strong>
				</i>
			</div>
        <% }else{
			%>
        <% }%>
		</div>
		<!-- Notification End -->

		<!-- Register Form -->
		<form action="/register" id="memberForm" method="post">
			電子郵件：<input type="email" id="email" name="email">
			密碼：<input type="password" id="password" name="password">
			確認密碼：<input type="password" id="recheck" name="recheck">
			姓名：<input type="text" id="name" name="name">
			暱稱：<input type="text" id="nickname" name="nickname">
			主修：<select id="major" name="major">
				　	<option value="mis">資訊管理學系</option>
				　	<option value="communication">傳播學系</option>
			</select>

			生日：<input type="date" id="bDate" name="bDate">

			手機：<input type="text" id="cell" name="cell">


			<input type="submit" id="rSubmit" name="rSubmit" class="rSubmit">

		</form>
        <input type="button" class="run" onclick="c()">按按看</input>


	</section>
	<!-- Register Form End -->

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>

		</div>
	</footer>
	<!-- Footer End-->

</div>
<!-- Main End -->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>